.headerBox {
  padding: 0 2rem;
}
.headerContent {
  position: fixed;
  z-index: 3;
  /* background: rgb(197, 210, 247); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}
/* .logoBox {
  background: lemonchiffon;
} */
.logo {
  width: 15%;
  transition: 0.1s ease-in;
}
.logo:hover {
  /* width: 16%; */
  transition: 0.1s ease-in;
  filter: invert(5);
}
.navIcon {
  cursor: pointer;
}
.activeLink,
a.activeLink {
  font-weight: bold;
  outline: none;
  border: 0;
  background: none;
  /* color: #d0f5d1; */
  color: red;
}
.toggleBox {
  /* background: lemonchiffon; */
  /* padding-left: 2em; */
  display: flex;
  align-items: center;
}
/* Queries */
@media (max-width: 600px) {
  .headerBox {
    padding: 0;
  }
  .headerContent {
    /* background: rgb(113, 113, 238); */
    width: 100%;
  }
  .logo {
    width: 12%;
  }
  .toggleBox img {
    width: 11%;
  }
}

/* Footer */
.footerBox {
  /* position: absolute; */
  margin: 5em 0 1em 0;
}
.footerContent {
  /* background: rgb(250, 170, 170); */
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* font-family: shwiffty; */
  /* font-size: 1.2rem; */
  /* font-family: caligraphy; */
  /* font-family: shitt; */
  /* font-family: st; */
  color: #fff;
}
.footerText {
  font-size: 1.2rem;
  font-family: st;
}
.footerText2 {
  font-size: 1.3rem;
  font-family: caligraphy;
  color: #d0f5d1;
}
@media (max-width: 600px) {
  .footerText,
  .footerText2 {
    font-size: 0.8rem;
  }
}

/* Toggle Btn */
.switch-toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
.switch-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider-toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider-toggle:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch-toggle input:checked + .slider-toggle {
  /* background-color: #03a439ee; */
  background-color: #7aec7d;
}

.switch-toggle input:focus + .slider-toggle {
  box-shadow: 0 0 1px #03a439ee;
}

.switch-toggle input:checked + .slider-toggle:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider-toggle.round {
  border-radius: 34px;
}

.slider-toggle.round:before {
  border-radius: 50%;
}
