.searchBox-container {
  margin: 1em 0;
  /* background: lavender; */
  width: 100%;
  padding: 1em 0;
}
.searchInput {
  border-radius: 10px;
  outline: none;
  border: 1px solid #d0f5d1;
  color: #d0f5d1;
  background: none;
  width: 80%;
  height: 50px;
  margin: 0 10%;
  padding: 0.5em 1em;
  font-family: shwiffty;
  font-size: 1.5em;
  transition: 0.3s ease-in;
}
.searchInput:focus {
  /* border: 3px solid #d0f5d1; */
  backdrop-filter: blur(9px);
  /* box-shadow: inset 0px 0px 40px 40px #dba632; */
  /* box-shadow: inset 0 0 10vw 2.5vw white; */
  box-shadow: 1px 3px 0 1px #d0f5d1;
  transition: 0.3s ease-in;
}
.charSmallImgs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 0.4em;

  margin: 1em 0em 0em 0em;
  right: 0;
  color: #fff;
  text-align: center;
  /* background: lavender; */
}
.charSmallImg {
  margin: 2em 0;
}

.paginateBox {
  /* background: rgb(81, 81, 247); */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 2em;
}
.pgBtns {
  background: none;
  outline: none;
  border: 2.5px solid #d0f5d1;
  color: #fff;
  /* padding: 0.5em; */
  width: 80px;
  height: 45px;
  font-family: shitt;
  font-weight: bold;
  font-size: 1.3em;
  letter-spacing: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: 0.2s ease-in;
}
.pgBtns2 {
  background: none;
  outline: none;
  border: 2.5px solid #d0f5d1;
  color: #fff;
  /* padding: 0.5em; */
  width: 80px;
  height: 45px;
  font-family: shitt;
  font-weight: bold;
  font-size: 1.3em;
  letter-spacing: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.2s ease-in;
}
.pgBtns:hover {
  color: black;
  background: #fff;
  border: none;
  transition: 0.2s ease-in;
  padding-right: 0.7em;
  padding-top: 0.1em;
}
.pgBtns2:hover {
  color: black;
  background: #fff;
  border: none;
  transition: 0.2s ease-in;
  padding-left: 0.7em;
  padding-top: 0.1em;
}
.pgTxt {
  color: #d0f5d1;
}
@media (max-width: 700px) {
  .charSmallImgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
  }
}
